:root {
  /* colors */

  /* greens */
  --green-50: hsl(138, 76%, 97%);
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --green-950: #052e16;

  /* Yellows */
  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;
  --yellow-950: #422006;

  /* greys */
  --grey-100: hsla(0, 0%, 100%, 1);
  --grey-200: hsla(0, 0%, 81%, 1);
  --grey-300: hsla(0, 0%, 71%, 1);
  --grey-400: hsla(0, 0%, 61%, 1);
  --grey-500: hsla(0, 0%, 51%, 1);
  --grey-600: hsla(0, 0%, 41%, 1);
  --grey-700: hsla(0, 0%, 31%, 1);
  --grey-800: hsla(0, 0%, 21%, 1);
  --grey-900: hsla(0, 0%, 11%, 1);

  /* reds */
  --red-500: #ef4444;
  --red-600: #dc2626;
  /* spacing */
  --spacing-00: 0;
  --spacing-05: 0.125rem;
  --spacing-10: 0.25rem;
  --spacing-15: 0.375rem;
  --spacing-20: 0.5rem;
  --spacing-25: 0.625rem;
  --spacing-30: 0.75rem;
  --spacing-35: 0.875rem;
  --spacing-40: 1rem;
  --spacing-50: 1.25rem;
  --spacing-60: 1.5rem;
  --spacing-70: 1.75rem;
  --spacing-80: 2rem;
  --spacing-90: 2.25rem;
  --spacing-100: 2.5rem;
  --spacing-110: 2.75rem;
  --spacing-120: 3rem;
  --spacing-130: 3.25rem;
  --spacing-140: 3.5rem;
  --spacing-160: 4rem;
  --spacing-200: 5rem;
  --spacing-240: 6rem;
  --spacing-280: 7rem;
  --spacing-320: 8rem;
  --spacing-360: 9rem;
  --spacing-400: 10rem;
  --spacing-440: 11rem;
  --spacing-480: 12rem;
  --spacing-520: 13rem;
  --spacing-560: 14rem;
  --spacing-600: 15rem;
  --spacing-640: 16rem;
  --spacing-720: 18rem;
  --spacing-800: 20rem;
  --spacing-960: 24rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body,
#root {
  height: 100%;
  background: #083344;

  color: var(--green-50);
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
